@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    height: 350px;
    display: flex;
    border: 1px solid black;
    margin: 2rem;
}

.drawer-section {
    flex: 1;
}

.aside--heading-section{
    margin: 0 10px;
}

.aside--navigation{
    height: 84%;
    overflow: auto;
}

.aside--navigation a {
    display: block;
    text-decoration: none;
    margin: 0.2em;
    padding: 0.3em;
    border-radius: 5px;
    color: black;
}

.aside--navigation a:hover{
    background-color: RGB(236, 224, 253);
}

.aside--navigation a:focus{
    background-color: RGB(98, 0, 239);
    color: white;
}

.aside--navigation-Label {
    font-weight: lighter;
    padding: 0.2em;
    margin: 0.2em;
}

.main-section {
    flex: 4;
    overflow: auto;
}

.main-heading {
    background-color: RGB(98, 0, 239);
    color: white;
    padding: 0.3em;
}

.content {
    margin: 15px 10px;
}

.header-section {
    display: flex;
    background-color: RGB(98, 0, 239);
}

.drawer-btn{
    background: none;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 0.8rem;
    cursor: pointer;
}

.drawer-btn img {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(272deg) brightness(105%) contrast(101%);
}

.drawer-section--dismissible {
    flex:1;
}